*{
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
    transition: 0.5s;
}

body{
    color: whitesmoke;
    font-family: Ubuntu, sans-serif;
    background: #0DAA07 linear-gradient(greenyellow, #0DAA07);
}

.wrapper{

}

article, section, #form{
    margin: 3em 0;
}

#pastillas{
    z-index: -1;
    max-width: 70em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pasti{
    width: 2em;
    height: 2em;
    font-size: 5em;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 2em;
    overflow: hidden;
}

.blue{
    background-color:cornflowerblue;
}
.yellow{
    background-color:yellow;
}
.green{
    background-color:lightgreen;
}
.red{
    background-color:indianred;
}

.main{
    max-width: 70em;
    margin: auto;
}


h1{
    text-align: center;
    font-size: 5em;
    text-decoration: underline;
    margin-bottom: 1em;
    text-shadow: dimgrey .2em .2em .6em;
}

.descargas{
    text-align: center;
}
.descargas a{
    text-decoration: none;
    color: #ffffff;
    font-size: 10em;
}
.descargas a span{
    margin-left: -0.9em;
    line-height: 1em;
}


#main h2{
    height: 5em;
}

#main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

#main article{
    display: inline-block;
    max-width: 200px;
}

#main article p {
    height: 25em;
    padding: 1em;
    background-color: rgba(0, 255, 255,0.2);
}
article img{
    height: 11em;
    width: 11em;
    border-radius: 20%;
}
article p.desc{
    width: inherit;
    height: inherit !important;
}
#promo{
    display: block;
    text-align: center;
    height: auto;
    line-height: 20em;
    border-bottom: rebeccapurple 3px ;
    border-top: rebeccapurple 3px;
}

.hidd:hover{
	color:rgba(0,0,0,1);	
}
.hidd{
		padding:1em;
        margin: 0;
		text-align:center;
		color:rgba(0,0,0,0);
		line-height:1em;
		overflow:hidden;
        background-color: #0DAA07;
}