.guardian {
    max-height: 40em;
    max-width: 15em;
}

.desc{
    display: block;
    text-align: center;
    height: 20em;
    width: 10em;
    padding: 1em;
    background: linear-gradient(30deg,#ef0055,orangered);
    box-shadow: #666666 5px 5px 2px;
    border-radius: 1em;
}
.pasti{

    box-shadow:#666666 5px 5px 2px;
}
.pasti img {
    width: 2em;
}

.desc h2{
margin-bottom: .5em;
}
